* {
  margin: 0;
  border: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

/* ANCHOR NAVIGATION */
#phonemenubar {
  background-color: #F7D806;
  overflow: hidden; }

#mobilelogo {
  max-width: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px; }

#mainnavlogo {
  max-width: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px; }

#hamburgermenu {
  width: 35px;
  margin-top: 20px;
  margin-right: 20px; }

.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 6px;
  background: #272727;
  -webkit-box-shadow: 0 7px 0 #272727, 0 14px 0 #272727;
  box-shadow: 0 10px 0 #272727, 0 20px 0 #272727; }

.menu-icon:hover::after {
  background: white;
  -webkit-box-shadow: 0 7px 0 white, 0 14px 0 white;
  box-shadow: 0 10px 0 white, 0 20px 0 white; }

#nav-menu {
  background-color: #F7D806; }

#navitems {
  background-color: #F7D806;
  float: right; }

.menu a {
  padding-left: 0.6rem;
  padding-right: 0.6rem; }

#navitems li a {
  color: #272727;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8em; }

#navitems li a:hover {
  color: white; }

/* ANCHOR INTRO INDEX */
#slantedintro {
  background-color: #F7D806;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }

#intropromodiv {
  margin-bottom: 10px; }

#whiteborder {
  border-style: solid;
  border-color: white;
  border-width: 6px;
  overflow: hidden;
  margin-top: 50px;
  position: relative;
  max-width: 400px; }

#introtext {
  float: left;
  color: white;
  margin-left: 10px;
  margin-top: 20px; }

#introphoto {
  max-width: 50%;
  bottom: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0; }

#introtext h1 {
  font-weight: bold;
  line-height: 1;
  font-size: 2.1em;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif; }

#introtext p {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  font-size: 0.6em;
  margin-bottom: 20px; }

#introphoto {
  float: right; }

#imagecover {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
  max-width: 400px; }

#coverprofile {
  max-width: 47%;
  position: absolute;
  bottom: 6px;
  right: 8px;
  z-index: 45; }

/* ANCHOR ABOUT INDEX */
#aboutsection {
  margin-top: 25px; }

.abouticon {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

#abouticons {
  margin-top: 20px; }

#abouticoncenter {
  text-align: center; }

#aboutsection {
  text-align: center; }

.abouticon img {
  height: 30px;
  margin-bottom: 10px; }

.abouticon p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.8em; }

#aboutparagraph {
  text-align: center;
  font-size: 0.9em;
  font-weight: 300; }

#abouttext {
  position: relative;
  text-align: center; }

#aboutheader {
  z-index: -1;
  color: #E4E6E7;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 7.5em;
  text-align: center;
  margin: 0px;
  line-height: 0;
  position: relative; }

#linktext {
  color: #F7D806; }

#linktext:hover {
  color: #E4E6E7; }

/* ANCHOR WORK INDEX */
#workheader {
  z-index: -1;
  color: #E4E6E7;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 8em;
  text-align: center;
  margin: 0px;
  line-height: 0;
  position: relative; }

#project1 {
  margin-top: 20px; }

#work1text {
  margin-top: 20px; }

#work2text {
  margin-top: 20px; }

#work3text {
  margin-top: 20px; }

.projecttitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 0;
  color: #272727;
  display: block; }

.projecttagline {
  font-size: 0.788em;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 5px;
  color: #F7D806;
  text-transform: uppercase;
  display: block; }

.workpreviewline {
  border: 2px solid #e4e6e7;
  width: 10%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block; }

.projectdesc {
  display: block;
  font-size: 0.813em;
  font-weight: 200;
  line-height: normal; }

.projectbutton {
  display: block;
  border-style: solid;
  border-color: #272727;
  border-width: 2px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 4px;
  color: #272727;
  max-width: 40%; }

.projectbutton p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

.projectbutton:hover {
  background-color: #F7D806;
  border-color: #F7D806;
  color: white;
  cursor: pointer; }

#project2 {
  margin-top: 30px;
  margin-bottom: 30px; }

#workbutton {
  border-style: solid;
  border-color: #272727;
  border-width: 2px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 8px;
  color: #272727;
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 30px; }

#workbutton:hover {
  background-color: #F7D806;
  border-color: #F7D806;
  color: white;
  cursor: pointer; }

#workbutton p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

/* ANCHOR CONTACT INDEX */
#slantedcontact {
  -webkit-clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 19%, 100% 100%, 0% 100%);
  background-color: #F7D806; }

#contactheader {
  z-index: -1;
  color: white;
  opacity: 0.2;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 7.5em;
  text-align: center;
  margin: 0px;
  line-height: 0;
  position: relative;
  margin-top: 70px; }

#chattext {
  padding: 0;
  margin-top: 60px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  color: white; }

#contactdesc {
  text-align: center;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.15em;
  line-height: normal;
  color: white; }

#contactbutton {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 8px;
  color: white;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px; }

#contactbutton p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.15em; }

#contactbutton:hover {
  background-color: white;
  color: #F7D806;
  cursor: pointer; }

/* ANCHOR FOOTER */
#footersection {
  background-color: #272727; }

#footerlogo {
  margin-top: 40px;
  margin-bottom: 40px; }

#footerlogo:hover {
  opacity: 0.5;
  cursor: pointer; }

#socialicons {
  text-align: center;
  margin-bottom: 20px; }

.footericon {
  max-width: 22px;
  margin: 10px; }

.footericon:hover {
  opacity: 0.5;
  cursor: pointer; }

/* ANCHOR CONTACT.HTML */
#contactsend {
  border-style: solid;
  border-color: #F7D806;
  border-width: 2px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F7D806;
  margin-bottom: 20px;
  border-radius: 0; }

#contactsend:hover {
  background-color: #F7D806;
  color: white;
  cursor: pointer; }

#contactback {
  background-color: #272727; }

#contactcontent {
  background-color: #272727; }

#socialplug {
  background-color: #F7D806; }

#contacttitle {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
  color: white;
  padding-top: 20px; }

#contactline {
  max-width: 20%;
  margin-top: 5px;
  border-bottom: 3px solid #F7D806; }

#contactinfo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1em;
  line-height: normal;
  margin-left: 0.9375rem; }

#name {
  margin-bottom: 20px;
  padding: 10px;
  background: #37393B;
  border: none;
  border-radius: 0;
  color: white;
  font-family: "Roboto", sans-serif; }

#email {
  margin-bottom: 0;
  padding: 10px;
  background: #37393B;
  border: none;
  border-radius: 0;
  color: white;
  font-family: "Roboto", sans-serif; }

#subject {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #37393B;
  border: none;
  border-radius: 0;
  color: white;
  font-family: "Roboto", sans-serif; }

textarea {
  border: none;
  border-radius: 0;
  background: #37393B;
  resize: none;
  padding: 10px;
  height: 150px;
  color: white;
  font-family: "Roboto", sans-serif; }

[type='text']:focus {
  background: #37393B;
  box-shadow: 0 4px 2px -2px #F7D806;
  border: none; }

[type='email']:focus {
  background: #37393B;
  box-shadow: 0 4px 2px -2px #F7D806;
  border: none; }

textarea:focus {
  background: #37393B;
  box-shadow: 0 4px 2px -2px #F7D806;
  border: none; }

.contacticon {
  max-width: 30px;
  margin: 10px;
  margin-bottom: 20px; }

#socialtext {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: white; }

#socialiconscontact {
  text-align: center;
  margin-top: 20px; }

/* ANCHOR WORK.HTML */
#workproject1image {
  height: 300px;
  background-size: cover;
  background-position: center; }

#workproject2image {
  background-size: cover;
  background-position: center;
  height: 300px; }

#workproject3image {
  background-color: #0846AE;
  height: 300px;
  background-size: cover;
  background-position: center; }

#workproject4image {
  background-color: lightcoral;
  height: 300px;
  background-size: cover;
  background-position: center; }

#titlesection {
  background-color: white;
  text-align: center;
  padding-bottom: 5px; }

#workline {
  max-width: 20%;
  margin-top: 5px;
  border-bottom: 3px solid #F7D806; }

#worktitle {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
  color: #E4E6E7;
  padding-top: 10px; }

#workproject1text {
  background-color: #35418A;
  width: 100%; }

#workproject2text {
  background-color: #F1C928;
  width: 100%; }

#workproject3text {
  background-color: #3F78D8;
  width: 100%; }

#workproject4text {
  background-color: coral;
  width: 100%; }

.workprojecttextbox {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px; }

.workprojecttitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.18em;
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1;
  margin-bottom: 10px; }

.workprojectlist {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 10px; }

.workprojectli {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  padding: 0;
  color: white;
  line-height: 1.8; }

.workprojectbutton {
  display: block;
  border-style: solid;
  border-color: #272727;
  border-width: 2px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 10px;
  background-color: #272727;
  color: white;
  max-width: 50%;
  border-radius: 4px; }

.workprojectbutton:hover {
  cursor: pointer;
  background-color: #37393B;
  border-color: #37393B; }

.workprojectbutton p {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3em; }

/* ANCHOR ABOUT.HTML */
#aboutprofile {
  height: 275px;
  background-position: center;
  background-size: cover; }

#aboutname {
  font-family: "Roboto", sans-serif;
  font-size: 3.625em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  max-width: 40%; }

#nameline {
  max-width: 20%;
  margin-top: 5px;
  border-bottom: 5px solid #F7D806;
  margin-right: 80%; }

.aboutfact {
  font-family: "Roboto", sans-serif;
  font-size: 0.8125em;
  font-weight: 300;
  margin-bottom: 8px;
  padding: 0; }

#aboutfactlist {
  list-style-type: none;
  margin-left: 0; }

#aboutextrainfo {
  padding: 20px; }

#cat_about {
  min-height: 300px; }

.capOverlay {
  position: relative;
  overflow: hidden;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.capOverlay h2 {
  z-index: 4;
  text-align: center; }

.picCaption {
  background-color: #F7D806;
  height: 100%;
  position: absolute;
  top: 100%;
  z-index: 9;
  width: 100%; }

#aboutbrief {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #272727;
  padding: 15px;
  line-height: 1.45; }

.categorytitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.513em;
  color: white;
  line-height: 300px; }

#employment_overlay {
  padding-left: 15px;
  padding-top: 15px; }

.employmentjob {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: #272727;
  line-height: 1;
  margin-bottom: 5px; }

.employmenttitle {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  color: #272727;
  line-height: 1;
  margin-bottom: 5px; }

.employmentdate {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  color: #272727;
  line-height: 1;
  margin-bottom: 30px; }

.educationschool {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: #272727;
  line-height: 1;
  margin-bottom: 5px; }

.educationprogram {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  color: #272727;
  line-height: 1;
  margin-bottom: 5px; }

#westerndiv {
  margin-bottom: 30px; }

#education_overlay {
  padding-left: 15px;
  padding-top: 30px; }

/* ANCHOR MOBILE MEDIA QUERIES */
@media screen and (min-width: 350px) {
  #navitems li a {
    color: #272727;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1em; } }
@media screen and (min-width: 375px) {
  #introtext h1 {
    font-weight: 700;
    line-height: 1;
    font-size: 2.5em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 0.75em;
    margin-bottom: 20px;
    font-weight: 700; }

  #aboutbrief {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    padding: 15px;
    line-height: 1.45; } }
@media screen and (min-width: 400px) {
  .projecttitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.35em;
    font-weight: 700;
    margin-bottom: 0;
    color: #272727;
    display: block; }

  .projecttagline {
    font-size: 0.888em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    color: #F7D806;
    text-transform: uppercase;
    display: block; }

  #navitems li a {
    color: #272727;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.3em; }

  #footerlogo {
    max-height: 60px; } }
@media screen and (min-width: 414px) {
  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 2.8em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 0.87em;
    margin-bottom: 20px;
    font-weight: 700; }

  #aboutbrief {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    padding: 15px;
    padding-top: 30px;
    line-height: 1.45; }

  #education_overlay {
    padding-left: 15px;
    padding-top: 45px; } }
@media screen and (min-width: 460px) {
  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 3em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: 700; }

  .projecttitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.55em;
    font-weight: 700;
    margin-bottom: 0;
    color: #272727;
    display: block; }

  .projecttagline {
    font-size: 0.988em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
    color: #F7D806;
    text-transform: uppercase;
    display: block; }

  .workpreviewline {
    border: 2px solid #e4e6e7;
    width: 20%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block; }

  .projectdesc {
    display: block;
    font-size: 0.853em;
    font-weight: 200; }

  .projectbutton {
    display: block;
    border-style: solid;
    border-color: #272727;
    border-width: 2px;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: 4px;
    color: #272727;
    max-width: 35%; }

  .projectbutton p {
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700; } }
@media screen and (min-width: 475px) {
  .abouticon {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px; }

  #aboutparagraph {
    text-align: center;
    font-size: 1em;
    font-weight: 300; }

  .abouticon p {
    font-size: 0.9em; } }
@media screen and (min-width: 480px) {
  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 3.5em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 700; }

  #introtext {
    margin-top: 10px;
    margin-left: 15px; } }
@media screen and (min-width: 490px) {
  #coverprofile {
    right: 15px; }

  #worktitle {
    font-size: 2.5em; } }
@media screen and (min-width: 500px) {
  #aboutbrief {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    padding: 15px;
    padding-top: 30px;
    line-height: 1.75; } }
@media screen and (min-width: 530px) {
  .projectbutton {
    max-width: 30%; }

  #chattext {
    font-size: 2.1em; }

  #contactbutton p {
    font-size: 1.45em; }

  .menu a {
    padding-left: 0.9rem;
    padding-right: 0.9rem; } }
@media screen and (min-width: 600px) {
  .abouticon {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px; } }
/* ANCHOR TABLET MEDIA QUERIES */
@media screen and (min-width: 640px) {
  #navitems li a {
    font-size: 1em; }

  .projectbutton {
    max-width: 40%; }

  .footericon {
    max-width: 25px;
    margin: 20px; }

  #aboutparagraph {
    margin-top: 15px; }

  #workpreview {
    margin-top: 80px; }

  #chattext {
    margin-top: 20px;
    font-size: 2.5em; }

  #imagecover {
    max-width: none;
    padding-top: 50px; }

  #slantedintro {
    padding-bottom: 20px; }

  #whiteborder {
    max-width: none; }

  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 3em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 0.7em;
    margin-bottom: 10px;
    font-weight: 700; }

  #coverprofile {
    max-height: 250px; }

  .abouticon img {
    height: 40px;
    margin-bottom: 10px; }

  /* CONTACT.HTML */
  #name {
    margin-bottom: 0px; }

  #contacttitle {
    font-size: 2.2em;
    margin-bottom: 10px; }

  #socialtext {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    color: white; }

  .contacticon {
    max-width: 40px;
    margin: 15px;
    margin-bottom: 30px; }

  .workprojectbutton {
    max-width: 40%; }

  #aboutprofile {
    height: auto; }

  #aboutbrief {
    font-size: 1.3em; }

  .categorytitle {
    font-size: 3.513em; } }
@media screen and (min-width: 750px) {
  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 4em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 0.9em;
    margin-bottom: 10px;
    font-weight: 700; } }
@media screen and (min-width: 775px) {
  #work1text {
    margin-top: 50px; }

  #work2text {
    margin-top: 50px; }

  #work3text {
    margin-top: 50px; } }
@media screen and (min-width: 780px) {
  #imagecover {
    padding-top: 60px; } }
@media screen and (min-width: 790px) {
  #aboutbrief {
    line-height: 2.25; } }
@media screen and (min-width: 800px) {
  .projectbutton {
    max-width: 30%; } }
@media screen and (min-width: 850px) {
  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 4.5em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 700; } }
@media screen and (min-width: 900px) {
  #work1text {
    margin-top: 60px; }

  #work2text {
    margin-top: 60px; }

  #work3text {
    margin-top: 60px; }

  .workprojectbutton {
    max-width: 30%; } }
@media screen and (min-width: 950px) {
  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 5.2em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700; } }
/* ANCHOR DESKTOP MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  #navitems li a {
    font-size: 1.2em; }

  .menu a {
    padding-left: 1rem;
    padding-right: 1rem; }

  #coverprofile {
    max-height: none;
    bottom: 15px; }

  #imagecover {
    padding-top: 100px;
    margin-bottom: 240px; }

  #slantedintro {
    background-color: #F7D806;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }

  #introtext {
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 30px; }

  #introtext h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 0.95;
    font-size: 7.2em;
    margin-bottom: 0; }

  #introtext p {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 700; }

  #whiteborder {
    border-width: 15px; }

  .menu a {
    padding-left: 0.9rem;
    padding-right: 0.9rem; }

  #aboutheader {
    font-size: 10em; }

  #workheader {
    font-size: 10em; }

  #contactheader {
    font-size: 10em; }

  .abouticon img {
    height: 60px;
    margin-bottom: 10px; }

  .abouticon {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px; }

  #aboutparagraph {
    text-align: center;
    font-size: 1.4em;
    font-weight: 300; }

  #workpreview {
    margin-top: 130px; }

  .abouticon p {
    font-size: 1.2em; }

  #work1text {
    padding-left: 30px;
    margin-top: 100px; }

  #work2text {
    padding-left: 30px;
    margin-top: 100px; }

  #work3text {
    padding-left: 30px;
    margin-top: 100px; }

  #project2 {
    margin-top: 100px;
    margin-bottom: 100px; }

  .projecttitle {
    font-family: 'Roboto', sans-serif;
    font-size: 2.55em;
    font-weight: 700;
    margin-bottom: 0;
    color: #272727;
    display: block; }

  .projecttagline {
    font-size: 1.58em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #F7D806;
    text-transform: uppercase;
    display: block; }

  .projectdesc {
    display: block;
    font-size: 1.253em;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px; }

  .projectbutton p {
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5em; }

  .projectbutton {
    max-width: 35%; }

  #workbutton p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.6em; }

  #workbutton {
    padding: 10px; }

  #abouticoncenter {
    text-align: center;
    margin-top: 40px; }

  #chattext {
    margin-top: 50px;
    font-size: 3.5em; }

  #contactdesc {
    text-align: center;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.55em;
    line-height: normal;
    color: white; }

  #contactheader {
    margin-top: 100px; }

  #contactbutton {
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px; }

  #contactbutton p {
    font-size: 1.9em; }

  .footericon {
    max-width: 35px;
    margin: 20px; }

  /* CONTACT.HTML */
  #name {
    margin-bottom: 0px;
    height: 50px; }

  #email {
    height: 50px; }

  #subject {
    height: 50px; }

  #contacttitle {
    font-size: 2.8em;
    margin-bottom: 10px; }

  #socialtext {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    color: white; }

  .contacticon {
    max-width: 45px;
    margin: 20px;
    margin-bottom: 30px; }

  /* WORK.HTML */
  #workproject1text {
    width: 50%; }

  #workproject2text {
    width: 50%; }

  #workproject3text {
    width: 50%; }

  #workproject4text {
    width: 50%; }

  .workprojecttextbox {
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 30px; }

  #workproject1image {
    height: 500px; }

  #workproject2image {
    height: 500px; }

  #workproject3image {
    height: 500px; }

  #workproject4image {
    height: 500px; }

  .workprojecttextbox {
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 30px; }

  .workprojectbutton {
    max-width: 50%; }

  .workprojecttitle {
    font-size: 2.78em; }

  .workprojectli {
    font-size: 1.1em; }

  .workprojectlist {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 20px; }

  #worktitle {
    font-size: 3.5em; }

  #workline {
    max-width: 10%;
    margin-top: 5px;
    border-bottom: 3px solid #F7D806; }

  #aboutbrief {
    line-height: 1.45;
    font-size: 1em; }

  #aboutextrainfo {
    padding-left: 60px; }

  #aboutprofile {
    height: 500px; }

  #aboutname {
    font-size: 5.625em; }

  #nameline {
    max-width: 20%;
    margin-top: 15px;
    border-bottom: 10px solid #F7D806;
    margin-right: 80%; }

  .aboutfact {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 15px;
    padding: 0; }

  #aboutfactlist {
    margin-top: 40px; }

  .categorytitle {
    font-size: 2.513em; } }
@media screen and (min-width: 1170px) {
  .workprojecttextbox {
    margin-top: 150px;
    margin-left: 140px;
    margin-bottom: 30px; } }
@media screen and (min-width: 1280px) {
  #aboutbrief {
    line-height: 1.85;
    font-size: 1em; }

  #aboutname {
    margin-top: 20px; } }
@media screen and (min-width: 1520px) {
  .workprojecttextbox {
    margin-top: 150px;
    margin-left: 190px;
    margin-bottom: 30px; } }

/*# sourceMappingURL=main.css.map */
